@use "../../styles/color.scss" as color;

.stylePanel {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1080;
	background-color: color.$sidebar;
	height: 100%;
	max-width: 250px;
	box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.05);
	transition: left 1s ease-out;

	.wrapper {
		padding: 10px;

		.fontHandler {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			margin: 10px 0px;

			button {
				padding: 5px 10px;
				cursor: pointer;
			}

			.bold {
				font-weight: 800;
			}

			.italic {
				font-style: italic;
			}

			.underline {
				text-decoration: underline;
			}
		}
	}
}
