@use "../../styles/color.scss" as color;

.openStyleBar {
	position: fixed;
	top: 10%;
	right: 0;
	z-index: 1080;
	height: fit-content;
	background-color: color.$sidebar;
	box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.stylePanel {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1080;
	background-color: color.$sidebar;
	height: 100%;
	max-width: 250px;
	box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.5);
	transition: right 1s ease-out;

	&.hidden {
		right: -100%;
		pointer-events: none;
	}

	.wrapper {
		padding: 10px;

		.fontHandler {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			margin: 10px 0px;

			button {
				padding: 5px 10px;
				cursor: pointer;
				font-weight: bold;
				border: none;

				&.active {
					background: linear-gradient(rgb(197, 236, 255) 0px, rgb(135, 212, 251) 100%);
				}
			}

			.bold {
			}

			.italic {
				font-style: italic;
			}

			.underline {
				text-decoration: underline;
			}
		}
	}
}


