@use "./color.scss" as color;

.App {
	font-family: sans-serif;
	text-align: center;
	width: 100vw;
	height: 100vh;
}

.reactflow-wrapper {
	width: 100%;
	height: 100%;
}

.sidebar {
	.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.MuiAccordion-gutters {
		background-color: color.$sidebar;
		box-shadow: none;
		border-top: 1px solid rgba(black, 0.05);

		.MuiButtonBase-root.MuiAccordionSummary-root.MuiAccordionSummary-gutters,
		.MuiButtonBase-root.MuiAccordionSummary-root.Mui-expanded.MuiAccordionSummary-gutters {
			border-bottom: 1px solid rgba(black, 0.05);
		}

		&::before {
			background-color: transparent;
		}
	}
	.nodes {
		z-index: inherit;
		background-color: transparent;

		&.rectangle {
			width: 2em;
			height: 1em;
		}

		&.square {
			width: 2em;
			height: 2em;
		}

		&.circle {
			width: 2em;
			height: 2em;
			border-radius: 50%;
		}

		&.ellipsis {
			width: 2em;
			height: 1em;
			border-radius: 50%;
		}

		&.rounded_rectangle {
			@extend .rectangle;
			border-radius: 5px;
		}

		&.text {
			width: 2em;
			height: 1em;

			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
