.nodes {
	border: 1px solid black;
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: -1;
	overflow: hidden;




	input {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border: none;
		outline: none;
		margin: 0;
		padding: 0;
		font-size: 0.6rem;
		padding: 2px;
	}

	.label {
		font-size: 0.8em;
	
	}

	&.rectangle {
		// min-width: 2em;
		// min-height: 1em;
	}

	&.square {
		min-width: 2em;
		min-height: 2em;
	}

	&.circle {
		min-width: 2em;
		min-height: 2em;
		border-radius: 50%;
	}

	&.ellipsis {
		min-width: 2em;
		min-height: 1em;
		border-radius: 50%;
	}

	&.rounded_rectangle {
		@extend .rectangle;
		border-radius: 5px;
	}

	&.output {
		border-color: red;
	}
}
